**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    margin: 0;
}
/*header*/

/*navbar*/
ul.topnav {
    list-style-type: none;
    background-image: url("../images/hout.jpg");
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 8vh;
    font-size: 14px;
    font: inherit;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: baseline;
    display: flex;
    
  }
  
  ul.topnav li {justify-content: center; text-align: center; align-items: center;}
  
  ul.topnav li a {
    display: block;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 30px;
    float: left;
    text-shadow: #070606 3px 5px 2px;
  }
  
  ul.topnav li a:hover:not(.active) { cursor: pointer; opacity: 0.3;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  /*navbar end*/
  /*logo*/
  #logo1{
      height:8vh ;
      width: 12vh;
      margin-right: 25%;
  }
  #logo2{
    height:8vh ;
    width: 12vh;
    margin-left: 25%;
}
  
  /*logo end*/

  
  /*contact styling*/
  .login-form-form {
    width: 350px;
    height: 400px;
    background-color: #e6e6e6;
    border-radius: 3%;
    box-shadow: 1px 1px gray;
    margin-top: 5%;
    margin-left: 43%;
    margin-right: 50%;
    border: solid 1px #e6e6e6;
    border-radius: 25px;
    outline: none;
    box-shadow: 0 0 0 2px #cccccc; 
  }
  
  
  #formitemscontact {
    text-align: center;
  }

  .logininput {
    margin-top: 10px;
    height: 40px;
    width: 200px;
    border-radius: 5%;
    border: solid 1px #707070;
    border-radius: 12px;
    outline: none;
    box-shadow: 0 0 0 2px #e6e6e6;
    text-align: center; 
  }

  #contactknop-contact {
    width: 200px;
    margin: 10px;
    height: 35px;
    background-color: #715aff;
    border-radius: 12px;
    border: solid #715aff;
    box-shadow: 0 0 0 1px #715aff;
    outline: none;
 }
/*contact styling end*/

 /* H1 title*/
 .ml5 {
  position: relative;
  font-weight: bolder;
  font-size: 150px;
  color: white;
  background-image: url('../images/bijlage3boeken_1.jpg');
  height: 750px;
  width: 100%;
  background-attachment: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: #070606 3px 5px 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
  margin-top: 200px;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: white;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}
.element-container{
  overflow: hidden;
}
.schuinElement{
  background-color: white;
  transform: rotate(3deg);
  height: 150px;
  width: 120%;
  margin-top: 300px;
  margin-left: -10%;
}
/*h1 end*/

/*top-boek*/
#top3{
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  font-size:50px;
  
}

#top-boeken{
  
  height: 1000px;
  width: 100%;
  background-color: #efebd8;
}

