**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    margin: 0;
}
/*header*/

/*navbar*/
ul.topnav {
    list-style-type: none;
    background-image: url("../images/hout.jpg");
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 8vh;
    font-size: 14px;
    font: inherit;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: baseline;
    display: flex;
    
  }
  
  ul.topnav li {justify-content: center; text-align: center; align-items: center;}
  
  ul.topnav li a {
    display: block;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 30px;
    float: left;
  }
  
  ul.topnav li a:hover:not(.active) { cursor: pointer; opacity: 0.3;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  /*navbar end*/
  /*logo*/
  #logo{
      height:8vh ;
      width: 12vh;
  }
  ul.topnav img{float: left;}
  /*logo end*/